
<h1>About the Site<h1>
<p>
	<%= link_to "UWC Memory", root_path %> 
	is a project hoping to connect UWC graduates and current students, allowing them to share pictures as a community and write comments, remembrances, or thoughts.  

	Additionally, I hope it acts to make photo collection for UWC development offices and national committees a bit easier.

	The site was by Benjamin Snow, who was creating a first basic Web app, and thought this could be a useful thing for the UWC community to enjoy.

	Sorry about the ads.  I put them up to cover the costs of setup and space.   

	If you have questions, concerns, or other ideas, feel free to reach out at benjamin.aaron.snow@gmail.com
</p>

