<div class="hero-unit">
	<h1>Welcome to Civocracy</h1>
	<p>
		For real online engagement
		<%= link_to "Connect", "#" %>
	    here.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>

